.point-table {
    border-collapse: collapse;
    width: 50%; /* reduced width to make it smaller */
    margin: 40px auto; /* added margin to center the table */
    font-size: 12px; /* reduced font size to make it smaller */
    border: 1px solid #ddd;
  }
  
  .table-header {
    background-color: #f7f7f7;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .table-row {
    border-bottom: 1px solid #ddd;
  }
  
  .table-cell {
    padding: 10px;
    text-align: left;
  }
  
  .table-header:hover,.table-row:hover {
    background-color: #f2f2f2;
    cursor: pointer;
  }
  
  .point-table th,.point-table td {
    border: 1px solid #ddd;
  }